
<script type="text/javascript"> 

  angular
        .module('myapp')

        .controller('categoryController',function($scope,$http,localStorageService,toastr){ 



      $scope.categories= {}; 

       $scope.categories.category_name="";

       $scope.categories.institution_id=localStorageService.get('institution_id');

      $scope.categories.department_id=localStorageService.get('department_id');



         $scope.submit = function(){ 

          url = "/form_builder/categories/add"; 

          $http({ 

            method : "POST", 

            url : url, 

            data : $scope.categories 

            }). 
          then(function (data){ 
            if(data.data.message == "save") {
              toastr.success('Success', 'Data has been saved Successfully!');
            } else {
              toastr.error('Error', 'Something went wrong!');
            }

          }); 

        }



 }); 

      

</script> 



<div ng-app="myapp" ng-controller="categoryController"> 

<div class="row"> 

<div class="col-lg-8"> 

<div class="tickets form"> 

  <form name="billform" class="well form-horizontal" > 

    <fieldset> 

      <legend>Category</legend> 
       

        <div class="form-group"> 

          <label for="category">Category</label> 

             <input type="text"  class="form-control" ng-model="categories.category_name"> 

        </div>

        <button type="button" ng-click="submit()" class="btn btn-primary">Submit 

   </button> 

 </fieldset> 

  </form> 

</div> 

</div> 

</div> 

</div> 
