<div class="row">
          <div class="col-lg-6">
<div class="institutions form">
	<?php echo $this->Html->script('manage_role');?>
<?php echo $this->Form->create('Institution', array(

	'inputDefaults' => array(
		'div' => 'form-group',
		'wrapInput' => false,
		'class' => 'form-control'
	),
	'class' => 'well form-horizontal'
)); ?>
<fieldset>

		<legend><?php echo __('Add Institution'); ?></legend>
	<?php
		echo $this->Form->input('name');
	?>
<div class="col col-md-9 col-md-offset-3">

			<?php echo $this->Form->submit('Submit', array(
				'div' => false,
				'class' => 'btn btn-primary'
			)); ?>
			<button type="reset" class="btn btn-default">Cancel</button>
		</div>

		<fieldset>
</div>

