<div class="row">
<div class="col-lg-6">
<div class="tickets form">
	<?php echo $this->Html->script('manage_category');?>

<div class="degrees form">

<?php echo $this->Form->create('Degree', array(
	'inputDefaults' => array(
		'div' => 'form-group',
		'wrapInput' => false,
		'class' => 'form-control'
	),
	'class' => 'well form-horizontal'

));
	$url = $this->Html->url(array(
										'controller' => 'departments',
										'plugin' => false,
										'action' => 'list_departments',
										'ext' => 'json'));


	$emptyDepartment = count($departments) > 0 ? Configure::read('Select.defaultAfter') : array(
	'0' => Configure::read('Select.naBefore') . __('Select Institution First') . Configure::read('Select.naAfter')
);

	   echo $this->Form->input('institution_id', array(

	'id' => 'institutions',
	'empty' => 'Please Select First',
	'rel' => $url	
));
echo $this->Form->input('department_id', array(
	'id' => 'departments',

	'empty' => $emptyDepartment
	));

		echo $this->Form->input('name');
	?>
	
			<?php echo $this->Form->submit('Submit', array(
				'div' => false,
				'class' => 'btn btn-primary'
			)); ?>
			<button type="reset" class="btn btn-default">Cancel</button>
		
		
	
</div>
</div>
</div>
</div>


