<div class="field row">
    <div class="span2">{{field.field_title}}:</div>
    <div class="span4">
		<select
				ng-model="field.response.value" 
				ng-init = "field.response.element_id = field.field_id"
				ng-required="field.field_required" 
				ng-disabled="field.field_disabled">
			<option ng-repeat="option in field.field_options" 
					ng-selected="option.option_value == field.field_value"
					value="{{option.option_id}}">
				{{option.option_title}}
			</option>
        </select>    
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div>
</div>
<br>
