<div class="field row">
    <div class="span2">{{field.field_title}}:</div>
    <div class="span4">
        <div ng-repeat="option in field.FormOption" class="row-fluid">
            <label>
                <input type="radio"
                value="{{option.option_value}}"
                ng-model="field.response.value"
                ng-init = "field.response.element_id = field.field_id"
                ng-required="field.field_required"
                ng-disabled="field.field_disabled"/>
                &nbsp;<span ng-bind="option.option_title"></span>
            </label>
        </div>
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div>
</div>
<br>
