<div class="field row">
    <div class="span2">{{field.field_title}}:</div>
    <div class="span4">
        <textarea type="text" 
        ng-model="field.response.value"
        ng-init = "field.response.element_id = field.field_id"
        value="{{field.field_value}}" 
        ng-required="field.field_required" 
        ng-disabled="field.field_disabled">
        </textarea>
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div>
</div>
 